<tr class="text-center">
  <td align="center" class="p-32">
    <a href="{{ page.source1_url }}" class="px-6 shadow-xl inline-block rounded-medium">
      <img src="{{ page.source1_image }}">
    </a>
    <a href="{{ page.source2_url }}" class="px-6 shadow-xl inline-block rounded-medium">
      <img src="{{ page.source2_image }}">
    </a>
    <a href="{{ page.source3_url }}" class="px-6 shadow-xl inline-block rounded-medium">
      <img src="{{ page.source3_image }}">
    </a>
    <a href="{{ page.source4_url }}" class="px-6 shadow-xl inline-block rounded-medium">
      <img src="{{ page.source4_image }}">
    </a>
    <a href="{{ page.source5_url }}" class="px-6 shadow-xl inline-block rounded-medium">
      <img src="{{ page.source5_image }}">
    </a>
    <a href="{{ page.source6_url }}" class="px-6 shadow-xl inline-block rounded-medium">
      <img src="{{ page.source6_image }}">
    </a>
    <a href="{{ page.source7_url }}" class="px-6 shadow-xl inline-block rounded-medium">
      <img src="{{ page.source7_image }}">
    </a>
  </td>
</tr>
