---
ReleaseN: "Components"
title: "Newsletter {{ page.ReleaseN }}"
preheader: "{{ page.HeaderText }}"

tableReset: "w-600 sm:w-full"
smReset: "sm:px-32"
bodyClass: "bg-white"
primaryBg: "bg-blue-900"
primaryColor: "text-blue-900"
primaryBorder: "border-blue-900"
secondaryBg: "bg-orange-900"
secondaryColor: "text-orange-900"
secondaryBorder: "border-orange-900"
googleFonts: "Open+Sans:wght@300;400;600;700;800&display=swap"

Logo: "images/usluno/logo-negative.png"

PrimaryLink: "https://www.u-sluno.eu/"
icon: "images/usluno/icons/linkedin-negative.png"
btnText: "Button"
---

<extends src="src/layouts/master.html">
  <block align="center" name="template">

    <!----------------------------------------------------------------------------------------------------->
    <table class="w-full sm:w-full {{ page.primaryBg }} text-center px-32 py-32 flex justify-center">
      <tr>
        <td>
          <table class="{{ page.tableReset }} py-32">
            <th>
            <td class="w-full {{ page.smReset }} px-32 text-center">
              <a href="{{ page.PrimaryLink }}"
                 class="no-underline"
                 target="_blank">
                <img src="{{ page.Logo }}"
                     class="align-top"
                     width="200"
                     alt="">
              </a>
              <h1 class="text-white text-5xl font-black uppercase leading-sm sm:leading-sm ">
                {{ page.components.title }}
              </h1>
            </td>
            </th>
          </table>
        </td>
      </tr>
    </table>

    <!----------------------------------------------------------------------------------------------------->
    <table class="{{ page.tableReset }} py-32 px-32">
      <tr>
        <table width="150">
          <component src="buttons/btnFilled.html"></component>
        </table>

        <table height="50"></table>

        <table width="150">
          <component src="buttons/btnOutlined.html"></component>
        </table>

        <table height="50"></table>

        <table width="150">
          <component src="buttons/btnPill.html"></component>
        </table>

        <table height="50"></table>
      </tr>
    </table>

    <!----------------------------------------------------------------------------------------------------->
    <table class="w-full {{ page.secondaryBg }} p-32 sm:w-full">
      <component src="footer.html"></component>
    </table>

    <!----------------------------------------------------------------------------------------------------->
    <table class="w-full {{ page.primaryBg }} p-32 sm:w-full">
      <component src="footer.html"></component>
    </table>
  </block>
</extends>
