---
ReleaseN: "06_21"
title: "Newsletter {{ page.ReleaseN }}"
preheader: "{{ page.HeaderText }}"

tableReset: "w-600 sm:w-full"
smReset: "sm:px-32"
bodyClass: "bg-white"
primaryBg: "bg-indigo-900"
primaryColor: "text-indigo-900"
secondaryBg: "bg-blue-800"
secondaryColor: "text-blue-800"
googleFonts: "Open+Sans:wght@300;400;600;700;800&display=swap"

YouTube: "https://www.youtube.com/embed/Wv6OkMzz2-0"
---

<!-----------------------------------------------------------------------------------------------------
--- MAILCHIMP ---
------------------------------------------------------------------------------------------------------>
<if condition="page.env === 'mailchimp'">
  <extends src="src/layouts/mailchimp.html">
    <block align="center" class="bg-blue-100" name="template">
      <table class="{{ page.tableReset }} {{ page.secondaryBg }}">
        <component src="topbar.html"></component>
      </table>

      <!----------------------------------------------------------------------------------------------------->
      <table class="{{ page.tableReset }} bg-blue-100">
        <component src="spacers/spacer_32.html"></component>
      </table>

      <table class="{{ page.tableReset }} bg-blue-100">
        <tr>
          <td align="center" class="{{ page.smReset }} px-32 text-center">
            <a href="{{ page.global.usluno.links.PrimaryLink }}"
               class="no-underline"
               target="_blank">
              <img src="{{ page.global.images.brand.logo }}"
                   class="align-top"
                   width="200"
                   alt="U&Sluno">
            </a>
          </td>
        </tr>
      </table>

      <table class="{{ page.tableReset }} bg-blue-100">
        <component src="spacers/spacer_32.html"></component>
      </table>

      <table class="{{ page.tableReset }} bg-blue-100">
        <tr>
          <td align="center" class="{{ page.smReset }} px-32 text-center">
            <a href="{{ page.newsletter_06_21.link }}"
               class="no-underline text-center font-black"
               target="_blank">
              <h1 class="text-blue-900 text-center text-4xl font-bold uppercase leading-sm sm:leading-sm ">
                {{ page.newsletter_06_21.title }}
              </h1>
            </a>
          </td>
        </tr>
      </table>

      <table class="{{ page.tableReset }} bg-blue-100">
        <component src="spacers/spacer_32.html"></component>
      </table>

      <!----------------------------------------------------------------------------------------------------->
      <table class="{{ page.tableReset }} bg-blue-100">
        <tr>
          <td align="center" class="text-center">
            <img src="images/usluno/05_21/ilustrace.png"
                 alt="U&Sluno">
          </td>
        </tr>
      </table>


      <!----------------------------------------------------------------------------------------------------->
      <table class="w-full">
        <component src="spacers/spacer_64.html"></component>
      </table>

      <table class="{{ page.tableReset }} sm:px-32">
        <tr>
          <td align="center" class="text-center">
            <p class="{{ page.primaryColor }} font-light">
              {{ page.newsletter_06_21.post }} <b>Produktivita práce z našich zkušeností poroste o 8–30&nbsp;%.</b>
            </p>
          </td>
        </tr>
      </table>

      <table class="w-full">
        <component src="spacers/spacer_16.html"></component>
      </table>

      <table class="{{ page.tableReset }} sm:px-32">
        <tr>
          <td align="center" class="text-center">
            <a
              href="https://www.u-sluno.eu/hlasem-rizeny-sklad-zvedne-produktivitu-az-o-30/"
              class="{{ page.primaryBg }} hover:bg-white text-white hover:text-gray-800 rounded mt-20 inline-block text-center sm:mx-0 py-16 px-24 text-sm leading-none no-underline font-semibold"
              target="_blank">
              <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
              <span style="mso-text-raise: 13pt;">
                  {{ page.newsletter_06_21.read_post }}
                </span>
              <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
            </a>
          </td>
        </tr>
      </table>

      <table class="w-full">
        <component src="spacers/spacer_32.html"></component>
      </table>

      <!----------------------------------------------------------------------------------------------------->
      <table class="w-full">
        <component src="spacers/spacer_32.html"></component>
      </table>

      <table class="{{ page.tableReset }}">
        <tr>
          <td align="center" class="text-center">
            <a href="https://www.youtube.com/watch?v=f6bgiNYgEnQ" target="_blank">
              <img src="images/usluno/05_21/ilustrace_04.png"
                   alt="U&Sluno">
            </a>
          </td>
        </tr>
      </table>

      <table class="w-full">
        <component src="spacers/spacer_64.html"></component>
      </table>

      <!----------------------------------------------------------------------------------------------------->
      <table class="{{ page.tableReset }} sm:px-32">
        <tr class="text-center">
          <td align="center" class="text-center">
            <h2 class="{{ page.primaryColor }} font-bold text-center">
              Reference
            </h2>
          </td>
        </tr>
      </table>

        <table class="w-full">
          <component src="spacers/spacer_16.html"></component>
        </table>

        <table class="{{ page.tableReset }} bg-blue-100 px-32">
          <tr class="text-center">
            <td align="center" class="p-32 w-4/12 align-top">
              <img src="{{ page.newsletter_06_21.reference.first.logo }}"
                   class="align-top mb-20"
                   width="100"
                   alt="DHL">

              <p class="{{ page.primaryColor }} text-sm font-light leading-24">
                WMS běží v nepřetržitém režimu v našich skladech o velikosti přes 100 000 metrů čtverečních už od roku 1999.
                Denně připravíme zhruba 15 000 palet pro více jak 300 prodejen. Na jedné směně se na tom podílí na 400 zaměstnanců.
                Vlastní implementace WMS proběhla díky dobrému plánu velmi rychle. Všechny systémy se na prvním skladu převedly v průběhu jedné noci,
                čímž došlo jen k minimálnímu omezení provozu. Dobrý systém zvyšuje produktivitu, snižuje chybovost a to celé se pak už přímo promítá do lepší dostupnosti zboží na našich prodejnách.
                Od 2019 využíváme v našich skladech hlasové vychystávání. I v tomto případě proběhla implementace podle plánu velmi rychle.
                Třetí měsíc po podepsání smlouvy odstartoval pilotní provoz. Začátek rolloutu na posledním skladu jsme pak uspíšili dokonce o celý kvartál.
                Naši zaměstnanci novou technologii, která jim usnadňuje vychystávání, velmi pozitivně přijali. Odpadá držení terminálu, zvýšila se efektivita
                i produktivita a také se urychlilo zaškolení nových zaměstnanců, které se zkrátilo na jednotky hodin.

              </p>

              <hr class="border-0 bg-gray-300 text-gray-500 h-px">

              <p class="{{ page.primaryColor }} text-sm font-bold leading-24">
                {{ page.newsletter_06_21.reference.first.name }}
              </p>
            </td>
          </tr>
        </table>

        <table class="w-full">
          <component src="spacers/spacer_32.html"></component>
        </table>

        <table class="{{ page.tableReset }} bg-blue-100 px-32">
          <tr class="text-center">
            <td align="center" class="p-32 w-4/12 align-top">
              <img src="{{ page.newsletter_06_21.reference.second.logo }}"
                   class="align-top mb-20"
                   width="100"
                   alt="DHL">

              <p class="{{ page.primaryColor }} text-sm font-light leading-24">
                Hlasem řízený sklad nám pomohl výrazně zvýšit produktivitu vychystávání. Nejunikátnější pro naši společnost je řešení implementované společností U&SLUNO,
                které bylo absolutně vhodné pro náš nadnárodní tým, včetně vietnamského jazyka, který je k dispozici ve všech aplikacích WMS.
                Jsme rádi, že máme spolehlivého partnera jako je U&SLUNO.
              </p>

              <hr class="border-0 bg-gray-300 text-gray-500 h-px">

              <p class="{{ page.primaryColor }} text-sm font-bold leading-24">
                {{ page.newsletter_06_21.reference.second.name }}
              </p>
            </td>
          </tr>
        </table>

        <table class="w-full">
          <component src="spacers/spacer_64.html"></component>
        </table>

      <!----------------------------------------------------------------------------------------------------->
        <component src="_mailchimp/footer_plain.html"></component>

      <!----------------------------------------------------------------------------------------------------->
        <table class="w-full">
          <component src="spacers/spacer_64.html"></component>
        </table>

        <table class="{{ page.tableReset }}">
          <tr class="text-center">
            <td align="center">
              <img src="images/usluno/05_21/ilustrace_03.png"
                   alt="U&Sluno">
            </td>
          </tr>
        </table>
    </block>
  </extends>
</if>

<!-----------------------------------------------------------------------------------------------------
--- DESKTOP (FULL VERSION) ---
------------------------------------------------------------------------------------------------------>

<else>
  <extends src="src/layouts/master.html">
    <block align="center" class="bg-blue-100" name="template">
        <table class="w-full sm:w-full {{ page.tableReset }} {{ page.secondaryBg }}">
          <component src="topbar.html"></component>
        </table>

      <!----------------------------------------------------------------------------------------------------->
        <table class="{{ page.tableReset }} sm:px-32"
               style="margin-bottom: -1px;">
          <tr>
            <td>

            </td>
            <script>
              document.getElementById('vid').play();
            </script>

            <div class="video-wrapper">
              <video autoplay loop muted style="object-fit: cover;">
                <source src="images/usluno/06_21/hero_video.mp4" type="video/mp4">
              </video>
            </div>

            <div class="video-content">
              <a href="{{ page.global.usluno.links.PrimaryLink }}"
                 class="no-underline"
                 target="_blank">
                <img src="{{ page.global.images.brand.logo_negative }}"
                     class="align-top"
                     width="250"
                     alt="U&Sluno">
              </a>
              <a href="{{ page.newsletter_06_21.link }}"
                 class="no-underline"
                 target="_blank">
                <h1 class="text-white text-4xl font-black uppercase mt-32 leading-sm sm:leading-sm">
                  {{ page.newsletter_06_21.title }}
                </h1>
              </a>
              <p class="text-white font-light leading-sm sm:leading-sm">
                {{ page.newsletter_06_21.post }}
              </p>

              <a
                href="{{ page.newsletter_06_21.link }}"
                class="{{ page.secondaryBg }} hover:bg-white text-white hover:text-gray-800 rounded mt-20 inline-block text-center sm:mx-0 py-16 px-24 text-sm leading-none no-underline font-semibold"
                target="_blank">
                <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                <span style="mso-text-raise: 13pt;">
                  {{ page.newsletter_06_21.read_post }}
                </span>
                <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
              </a>
            </div>
          </tr>
        </table>

      <!----------------------------------------------------------------------------------------------------->
        <table class="w-full sm:w-full bg-blue-100">
          <tr class="text-center">
            <td align="center">
              <table class="py-48 flex justify-center align-middle">
                <component src="videoYT_larger.html"></component>
              </table>
            </td>
          </tr>
        </table>

      <!----------------------------------------------------------------------------------------------------->
        <table class="w-full sm:w-full pt-64">
          <tr>
            <td align="center">
              <table class="{{ page.tableReset }} sm:px-32">
                <tr>
                  <td>
                    <h2 class="{{ page.primaryColor }} text-3xl font-bold" style="border-left: 10px solid #007bff; padding-left: 1rem;">
                      {{ page.newsletter_06_21.casestudie.title }}
                    </h2>
                  </td>
                </tr>
              </table>

              <table class="{{ page.tableReset }} bg-gray-100 rounded-medium mb-20">
                <div class="w-600 text-left sm:text-center">
                  <div class="p-32">
                    <p class="{{ page.secondaryColor }} text-xl font-bold leading-8">
                      {{ page.newsletter_06_21.casestudie.first.top }}
                    </p>
                    <p class="{{ page.primaryColor }} text-2xl font-bold leading-8">
                      {{ page.newsletter_06_21.casestudie.first.title }}
                    </p>
                  </div>
                </div>

                <tr class="text-center">
                  <td align="center" class="p-32 w-3/12 align-top">
                    <div class="circle">
                      {{ page.newsletter_06_21.casestudie.first.first.number }}
                    </div>

                    <p class="{{ page.primaryColor }} text-sm font-bold leading-18">
                      {{ page.newsletter_06_21.casestudie.first.first.title }}
                    </p>
                  </td>

                  <td align="center" class="p-32 w-3/12 align-top">
                    <div class="circle">
                      {{ page.newsletter_06_21.casestudie.first.second.number }}
                    </div>

                    <p class="{{ page.primaryColor }} text-sm font-bold leading-18">
                      {{ page.newsletter_06_21.casestudie.first.second.title }}
                    </p>
                  </td>

                  <td align="center" class="p-32 w-3/12 align-top">
                    <div class="circle">
                      {{ page.newsletter_06_21.casestudie.first.third.number }}
                    </div>

                    <p class="{{ page.primaryColor }} text-sm font-bold leading-18">
                      {{ page.newsletter_06_21.casestudie.first.third.title }}
                    </p>
                  </td>

                  <td align="center" class="p-32 w-3/12 align-top mobile-hide" />
                </tr>

                <div style="transform: translate(16rem, -8rem); height: 0;">
                  <img src="images/usluno/06_21/image_robot_02.png"
                       width="180"
                       class="align-top mobile-hide"
                       alt="U&Sluno">
                </div>
              </table>

              <table class="{{ page.tableReset }} bg-gray-100 rounded-medium mb-20">
                <div class="w-600 text-right sm:text-center">
                  <div class="p-32 mt-64 sm:mt-0">
                    <p class="{{ page.secondaryColor }} text-xl font-bold leading-8">
                      {{ page.newsletter_06_21.casestudie.second.top }}
                    </p>
                    <p class="{{ page.primaryColor }} text-2xl font-bold leading-8">
                      {{ page.newsletter_06_21.casestudie.second.title }}
                    </p>
                  </div>
                </div>

                <div style="transform: translate(-19rem, -2rem); height: 0;">
                  <img src="images/usluno/06_21/image_robot_01.png"
                       width="700"
                       class="align-top mobile-hide"
                       alt="U&Sluno">
                </div>

                <tr class="text-center">
                  <td align="center" class="p-32 w-3/12 align-top mobile-hide" />

                  <td align="center" class="p-32 w-3/12 align-top">
                    <div class="circle">
                      {{ page.newsletter_06_21.casestudie.second.first.number }}
                    </div>

                    <p class="{{ page.primaryColor }} text-sm font-bold leading-18">
                      {{ page.newsletter_06_21.casestudie.second.first.title }}
                    </p>
                  </td>

                  <td align="center" class="p-32 w-3/12 align-top">
                    <div class="circle">
                      {{ page.newsletter_06_21.casestudie.second.second.number }}
                    </div>

                    <p class="{{ page.primaryColor }} text-sm font-bold leading-18">
                      {{ page.newsletter_06_21.casestudie.second.second.title }}
                    </p>
                  </td>

                  <td align="center" class="p-32 w-3/12 align-top">
                    <div class="circle">
                      {{ page.newsletter_06_21.casestudie.second.third.number }}
                    </div>

                    <p class="{{ page.primaryColor }} text-sm font-bold leading-18">
                      {{ page.newsletter_06_21.casestudie.second.third.title }}
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

      <!----------------------------------------------------------------------------------------------------->
      <table class="w-full sm:w-full pt-64">
        <tr>
          <td align="center">
            <table class="w-600 sm:px-32">
              <tr class="text-right sm:text-left">
                <td align="center">
                  <h2 class="{{ page.primaryColor }} text-3xl font-bold" style="border-right: 10px solid #007bff; padding-right: 1rem;">
                    Poslechněte si podcasty o&#160;autonomních robotech
                  </h2>
                </td>
              </tr>
            </table>

            <table class="w-600 py-32 sm:px-32">
              <tr class="text-center">
                <td align="center">
                  <a href="https://anchor.fm/usluno/embed/episodes/Autonomn-roboti-1-Co-to-znamen--kdy-je-robot-autonomn-el7jq4"
                     target="_blank">
                    <img src="images/usluno/06_21/spotify_01.png"
                         class="py-16 mobile-hide"
                         alt="U&Sluno">
                  </a>

                  <a href="https://anchor.fm/usluno/embed/episodes/Autonomn-roboti-2-Typy-kolaborativnch-robot-elhs7o"
                     target="_blank">
                    <img src="images/usluno/06_21/spotify_02.png"
                         class="py-16 mobile-hide"
                         alt="U&Sluno">
                  </a>

                  <a href="https://anchor.fm/usluno/embed/episodes/Autonomn-roboti-3-Jak-probh-ukzka-robota-elsr7f"
                     target="_blank">
                    <img src="images/usluno/06_21/spotify_03.png"
                         class="py-16 mobile-hide"
                         alt="U&Sluno">
                  </a>
                </td>
              </tr>
            </table>

            <div style="transform: translate(8rem, -3rem); height: 7rem; z-index: 0;">
              <img src="images/usluno/06_21/spotify_illustration_02.png"
                   class="mobile-hide"
                   alt="U&Sluno">
            </div>

            <table class="w-full">
              <component src="spacers/spacer_64.html"></component>
            </table>
          </td>
        </tr>
      </table>

      <!----------------------------------------------------------------------------------------------------->
        <table class="w-full sm:w-full {{ page.secondaryBg }} text-left py-64 flex justify-center align-middle">
          <component src="footer.html"></component>
        </table>
    </block>
  </extends>
</else>
