---
title: "The Website Weekly Newsletter"
preheader: "Hlasem řízený sklad"
image: https://i.giphy.com/f6hTTH9okVhfmlxoZW.gif

tableReset: "w-600 sm:w-full"
smReset: "sm:px-32"
bodyClass: "bg-cool-gray-100"
primaryBg: "bg-orange-900"
primaryColor: "bg-orange-900"
secondaryBg: "bg-blue-900"
secondaryColor: "text-blue-900"
googleFonts: "Exo:400,500,600,700;subset=latin-ext"

TopBar: "Zobrazit newsletter v prohlížeči"

email_mailto: "robotics@u-sluno.cz"
email_subject: "Dobrý den, mám dotaz ohledně newsletteru!"
email_body: ""
email_cc: "marketing@u-sluno.cz"

PrimaryLink: "https://www.u-sluno.eu/"
social_fb: "https://www.facebook.com/slunocz/"
social_yt: "https://www.youtube.com/channel/UC1ztuszn-Si95RalNja1Njw"
social_in: "https://www.linkedin.com/company/354076/"
unsub: "https://u-sluno.us17.list-manage.com/unsubscribe?u=6cd7e998e44d61d5b734bf3e2&id=34499fdab6&e=d94144be41&c=ee107271a1"

social_fb_img: "images/usluno/05/facebook.png"
social_yt_img: "images/usluno/05/youtube.png"
social_in_img: "images/usluno/05/linkedin.png"

website: "www.u-sluno.eu"
email: "marketing@u-sluno.cz"
phone: "+420 596 134 157"
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans ">
      <tr>
        <td align="center" class="bg-cool-gray-100 sm:px-16">
          <table class="w-600 sm:w-full {{ page.tableReset }} {{ page.primaryBg }}">
            <component src="topbar.html"></component>
          </table>

          <table class="w-600 sm:w-full">
            <tr>
              <td class="bg-top bg-no-repeat bg-cover"
                  style="background-image: url('{{ page.image }}');">
                  <table class="w-full pt-32 text-center bg-opac">
                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>
                        <img
                          src="images/usluno/logo-negative.png"
                          class="pb-20"
                          width="200"
                          alt="">
                        <a href="https://www.u-sluno.eu/rizeny-sklad/hlasem-rizeny-sklad/" class="no-underline">
                          <h1 class="m-0 mb-0 text-5xl text-orange-900 font-bold sm:leading-40">
                            Hlasem řízený sklad
                          </h1>
                        </a>
                        <h2 class="m-0 text-4xl text-white font-normal sm:leading-40">zvedne produktivitu až o 20 %</h2>
                        <p class="pt-16 text-white text-base leading-24 text-opac">
                          Náklady na logistiku a řízení skladů jsou zejména pro velké retailery stěžejním bodem, kde mohou získat výhodu oproti konkurenci. Jedna z nejefektivnějších cest, jak toho dosáhnout, je díky zapojení technologie hlasového vychystávání — robustního nástroje pro maloobchodní, velkoobchodní, logistické a distribuční společnosti, který výrazně zvyšuje produktivitu i celkovou kvalitu práce.
                        </p>
                        <div class="pt-32 sm:h-32">&zwnj;</div>
                        <img
                          src="images/usluno/icon-scroll-alt.png"
                          width="40"
                          alt="">
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
              </td>
            </tr>
            <tr>
              <td class="h-32"></td>
            </tr>
            <tr>
              <td class="w-full px-24 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full sm:w-full sm:inline-block">
                        <a href="https://www.u-sluno.eu/rizeny-sklad/hlasem-rizeny-sklad/" class="no-underline">
                          <h1 class="mt-32 mb-0 text-4xl leading-48 text-center text-blue-900 font-bold sm:leading-40">
                            Sklad musí být řízen systémem, nikoliv skladníky
                          </h1>
                        </a>
                        <h3 class="mt-32 mb-16 text-md text-orange-900 font-bold sm:leading-40">
                          Činnost vašeho skladu není nijak výrazně řízena, a přesto sklad pracuje relativně efektivně?
                        </h3>
                        <p class="pt-16 text-cool-gray-900 text-sm leading-24">
                          V těchto případech je činnost skladu založena na zkušených zaměstnancích, kteří znají sklad nazpaměť a jsou schopni skladové operace vykonávat téměř naslepo. Co když ale takový pracovník z firmy odejde nebo dlouhodobě onemocní? Musí vaši skladníci neustále manipulovat s terminálem a nemají obě ruce volné pro práci se zbožím? Mít obě ruce volné má zásadní vliv na chybovost a především rychlost vychystávání.
                        </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-full pb-40 sm:w-full sm:inline-block">
                      <table class="w-full pb-32 pt-0 sm:w-full font-sans rounded">
                        <tr>
                          <td class="py-16 px-20 shadow-xl rounded-medium bg-center"
                              style="background-image: url('images/usluno/05/slice1.png');">
                            <h3 class="mb-16 text-md text-orange-900 font-bold sm:leading-40">
                              Co je Hlasem řízený sklad?
                            </h3>
                            <p class="text-cool-gray-900 text-sm leading-24">
                              Řízení skladových procesů pomocí mobilních terminálů s headsety, kdy komunikace se systémem je založena na hlasových povelech. Skladník dostává instrukce do sluchátek a zpět komunikuje pomocí předem definovaných slov a čísel.
                            </p>
                          </td>
                        </tr>
                      </table>
                      <table class="w-full pb-32 pt-0 sm:w-full font-sans rounded">
                        <tr>
                          <td class="py-16 px-20 shadow-xl rounded-medium bg-center"
                              style="background-image: url('images/usluno/05/slice3.png');">
                            <h3 class="mb-16 text-md text-blue-900 font-bold sm:leading-40">
                              Proč je dobré mít Hlasem řízený sklad?
                            </h3>
                            <p class="text-cool-gray-900 text-sm leading-24">
                              Uživatel může pracovat rychleji, protože má obě ruce volné a nemusí manipulovat s terminálem. Také může mít nastavený jazyk, který preferuje, což je výhodné zejména u zahraničních pracovníků.
                            </p>
                          </td>
                        </tr>
                      </table>
                      <table class="w-full pb-32 pt-0 sm:w-full font-sans rounded">
                        <tr>
                          <td class="py-16 px-20 shadow-xl rounded-medium bg-center"
                              style="background-image: url('images/usluno/05/slice2.png');">
                            <h3 class="mb-16 text-md text-orange-900 font-bold sm:leading-40">
                              Pro koho je Hlasem řízený sklad určený?
                            </h3>
                            <p class="text-cool-gray-900 text-sm leading-24">
                              Pro všechny, kteří chtějí optimalizovat procesy na skladě, zvýšit efektivitu a produktivitu práce.
                            </p>
                          </td>
                        </tr>
                      </table>
                      <table class="w-full pb-32 pt-0 sm:w-full font-sans rounded">
                        <tr>
                          <td class="py-16 px-20 shadow-xl rounded-medium bg-center"
                              style="background-image: url('images/usluno/05/slice4.png');">
                            <h3 class="mb-16 text-md text-blue-900 font-bold sm:leading-40">
                              Jak náročná je implementace?
                            </h3>
                            <p class="text-cool-gray-900 text-sm leading-24">
                              Vše závisí na připravenosti nadřazeného systému. Projekty trvají od několika týdnů až po několik málo měsíců.
                            </p>
                          </td>
                        </tr>
                      </table>
                      <table class="w-full pb-32 pt-0 sm:w-full font-sans rounded">
                        <tr>
                          <td class="py-16 px-20 shadow-xl rounded-medium bg-center"
                              style="background-image: url('images/usluno/05/slice3.png');">
                            <h3 class="mb-16 text-md text-orange-900 font-bold sm:leading-40">
                              Jak rychlá je návratnost investice?
                            </h3>
                            <p class="text-cool-gray-900 text-sm leading-24">
                              U některých našich projektů byla návratnost investice v řádech měsíců.
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="w-full px-24 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-ful sm:px-0 sm:pb-32 sm:w-full sm:inline-block">
                      <table class="w-full">
                        <tr>
                          <td class="px-20 py-40 bg-orange-900 text-white text-center shadow-2xl rounded-lg">
                            <h2 class="m-0 mb-24 text-2xl leading-24">Benefity</h2>
                            <table>
                              <tr>
                                <td class="w-4/12 p-8 align-top">
                                  <img
                                    src="images/usluno/05/icon-checklist-alt.png"
                                    class="pb-20"
                                    width="50"
                                    alt="">
                                  <h3 class="font-bold text-sm">
                                    Zvýšení produktivity
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8 align-top">
                                  <img
                                    src="images/usluno/05/icon-no-connection-alt.png"
                                    class="pb-20"
                                    width="50"
                                    alt="">
                                  <h3 class="font-bold text-sm">
                                    Snížení chybovosti při přípravě objednávek
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8 align-top">
                                  <img
                                    src="images/usluno/05/icon-education-alt.png"
                                    class="pb-20"
                                    width="50"
                                    alt="">
                                  <h3 class="font-bold text-sm">
                                    Rychlé zaškolení nových uživatelů
                                  </h3>
                                </td>
                              </tr>
                              <tr>
                                <td class="w-4/12 p-8 align-top">
                                  <img
                                    src="images/usluno/05/icon-support-alt.png"
                                    class="pb-20"
                                    width="50"
                                    alt="">
                                  <h3 class="font-bold text-sm">
                                    100% úspěšnost rozpoznání hlasu
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8 align-top">
                                  <img
                                    src="images/usluno/05/icon-testing-alt.png"
                                    class="pb-20"
                                    width="50"
                                    alt="">
                                  <h3 class="font-bold text-sm">
                                    Rychlá implementace
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8 align-top">
                                  <img
                                    src="images/usluno/05/icon-genetics-alt.png"
                                    class="pb-20"
                                    width="50"
                                    alt="">
                                  <h3 class="font-bold text-sm">
                                    Jednoduchá modifikace podle potřeb zákazníka
                                  </h3>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="h-64 sm:h-32"></td>
            </tr>
            <tr>
              <td class="px-48 sm:px-24 text-left">
                <table class="w-full text-center">
                  <tr>
                    <td>
                      <h1 class="m-0 pb-32 text-4xl leading-48 text-blue-900 font-bold sm:leading-40">Expresní implementace
                      </h1>
                      <p class="pt-16 text-cool-gray-900 text-left text-sm leading-24">
                        Síť maloobchodních prodejen hledala kvalitní WMS řešení na míru, které by pokrylo všechny nezbytné požadavky a pomohlo optimalizovat celkové řízení hlavního distribučního centra. Našli ho v řešení Hlasem řízený sklad.
                        <br><br>
                        Distribuční centrum dlouho fungovalo na vlastním softwaru, ovšem bez jakéhokoliv procesního nastavení, které by umožnilo efektivní řízení tak velkého skladu. Sklad vedle zásobování všech poboček zpracovával také online objednávky.
                        <br><br>
                        Začátkem roku 2019 odstartovala přípravná fáze, která zahrnovala nejen implementaci samotného softwaru, ale také dodání veškerého nezbytného hardwaru v podobě sítí, tiskáren, terminálů a také headsetů pro hlasové vychystávání zboží. Na tomto místě navíc stál i požadavek klienta, a to přidání vietnamštiny coby dalšího jazyka pro komunikaci s hlasovým vychystáváním. Tuto výzvu se nám podařilo vyřešit i díky dobré spolupráci našeho partnera Symphony Retail AI. Vedle vietnamštiny systém nabízí také češtinu, ruštinu a další jazyky dle aktuální potřeby zákazníka.
                        <br><br>
                        Druhý dodaný modul zajišťuje spolupráci přenosných terminálů s WMS. Terminál z části nahrazuje práci s klasickým počítačem a dává zaměstnanci větší mobilitu. Není nutné manuálně zadávat data, stačí je jen naskenovat ve skladu. Zaměstnanci, kteří jsou ve skladu, tak mohou pružně reagovat a řešit nastalé situace ihned na místě. Výhodou je, že využívá operační systém Android, takže se dále vyvíjí a rozšiřuje o další možnosti.
                        <br><br>
                        Spuštění systému v ostrém provozu proběhlo a po dvou týdnech mohl projekt přejít do standardní podpory našeho supportního oddělení, které zajišťuje pomoc s údržbou programu a řešením případných incidentů.
                        <br><br>
                        Koncem září 2019 úspěšně proběhla první inventura a celý systém aktuálně běží s prakticky nulovým počtem chyb. Zákazník tak může bez problému využívat veškeré výhody, které moderní Warehouse Management System nabízí; hladký průběh zpracování a optimalizace plnění zákaznických objednávek, stejně jako celkové zvýšení spolehlivosti napříč skladem od příjmu po expedici.
                        <br><br>
                        Celkově je v provozu 70 terminálů, zvýšila se produktivita práce a naše řešení pokrylo veškeré požadované procesy a funkce. Pracovníci v průměru vychystají 450 palet za den, přičemž jeden skladník zvládne vyzvednout 3600 položek.
                        <br><br>
                        Celý proces implementace, který začal důkladnou analýzou a optimalizací procesů, jsme dokázali realizovat v krátkém čase a ke spokojenosti obou stran.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="h-64 sm:h-32"></td>
            </tr>
            <tr>
              <td style="background-image: url('images/usluno/05/pre-footer-bg.png');"
                  class="w-full pb-0 px-48 sm:px-24 py-16 bg-cool-gray-100 rounded text-center bg-center bg-no-repeat bg-cover">
                <h3 class="mt-32 mb-16 text-2xl text-orange-900 font-bold sm:leading-40">
                  Pokyny od Pamely přímo do ucha
                </h3>
                <h1 class="m-0 mb-0 text-4xl leading-48 text-center text-blue-900 font-bold sm:leading-40">
                  Tak se pracuje ve skladu <br>Albertu
                </h1>

                <a
                  href="https://www.idnes.cz/ekonomika/domaci/albert-distribucni-centrum-pamela-automatizovany-hlasovy-system.A190712_152438_ekonomika_are"
                  class="{{ page.primaryBg }} hover:{{ page.secondaryBg }} mt-32 shadow-xl inline-block py-16 px-24 text-sm leading-none no-underline text-white font-semibold rounded-full">
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                    <span style="mso-text-raise: 13pt;">
                      <img src="images/usluno/05/icon-click-alt.png" class="pr-8" width="25" alt="">
                      Zobrazit celý článek
                    </span>
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                </a>

                <table align="center" class="{{ page.secondaryBg }} text-white w-full p-20 mt-64 rounded-t-lg">
                  <component src="footer_special.html"></component>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
