---
title: "Newsletter 07/20"
preheader: "Autonomous mobile robots"
image: http://www.s5.cz/emaily/USluno/Mailchimp/08_20/assets/photo_man_1.jpg
bodyClass: bg-white
googleFonts: "Open+Sans:wght@300;400;600;700;800&display=swap"
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table align="center" class="w-600 bg-black sm:w-full">
      <tr>
        <td align="center" class="p-12 sm:py-20 sm:px-24 text-center">
          <a
            href="http://www.s5.cz/emaily/USluno/Mailchimp/07_20/usluno-newsletter-07.html"
            class="text-white text-sm font-medium no-underline hover:underline hover:text-blue-400 hover:font-bold"
            target="_blank">
            Zobrazit newsletter v prohlížeči
          </a>
        </td>
      </tr>
    </table>
    <table align="center" class="w-600 sm:w-full">
      <tr>
        <td class="bg-top bg-no-repeat bg-cover text-left " style="background-image: url('{{ page.image }}');height:300px;">
          <table class="w-full py-32 text-center">
            <tr>
              <td align="center" class="sm:py-32 sm:px-24 text-center">
                <div class="h-48 sm:h-32">&zwnj;</div>
                <a
                  href="https://www.uslunorobotics.eu/"
                  class="no-underline"
                  target="_blank">
                  <img
                    src="images/usluno/logo-negative.png"
                    class=""
                    width="200"
                    alt="">
                </a>
                <div class="h-48 sm:h-32">&zwnj;</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table align="center" class="w-600 pt-12 pb-16 text-center sm:w-full">
      <tr>
        <td class="w-full">
          <a
            href="https://www.uslunorobotics.eu/"
            class="no-underline bg-blue-400"
            target="_blank">
            <h1 class="m-0 pt-24 text-blue-400 text-3xl font-black uppercase leading-normal sm:leading-normal sm:px-20">
              Propojte se ve firmě jediným komunikačním nástrojem
            </h1>
          </a>
          <div class="h-48 sm:h-32">&zwnj;</div>
          <a
            href="https://www.uslunorobotics.eu/"
            class="no-underline"
            target="_blank">
            <img
              src="images/usluno/zebra_logo.png"
              class=""
              width="200"
              alt="">
          </a>
        </td>
      </tr>
    </table>
    <table align="center" class="w-600 px-32 sm:w-full">
      <tr>
        <td align="center" class="w-600 pb-32">
          <p class="text-cool-gray-900 text-center text-justify text-lg font-light leading-relaxed">
            Workforce Connect propojí komunikaci ve skladech, na prodejnách, v dopravě, v nemocnicích.
            Systém pracuje na vnitřní Wi-Fi síti a můžete bez problémů využít své stávající mobilní zařízení Zebra a i jiné mobilní telefony Apple, Android, stolní nebo přenosné počítače.
            Nepřibývají žádné dodatečné ani průběžné náklady, nepotřebuje placené služby mobilních operátorů.
          </p>
        </td>
      </tr>
    </table>
    <table align="center" class="w-600 pb-24 sm:w-full">
      <tr>
        <td align="center" class="w-full pb-24 sm:w-full">
          <iframe
            width="450"
            height="250"
            src="https://www.youtube.com/embed/QoBs0OZPjTM"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </td>
      </tr>
    </table>
    <table align="center" class="w-600 rounded pb-32 px-32 sm:w-full">
      <tr class="text-center">
        <td align="center" class="w-4/12 align-top">
          <img
            src="images/usluno/divider_gray_dark.png"
            class=""
            width="">
        </td>
      </tr>
      <tr class="text-center">
        <td align="center" class="pt-32 pb-32 px-32 bg-gray-700 w-4/12 align-top">
          <img
            src="images/usluno/profile_manager.png"
            class=""
            width="40">
          <h4 class="m-0 text-lg font-bold uppercase text-white pt-20">
            Profile manager
          </h4>
          <p class="text-white text-sm font-light leading-24">
            Určete role svých zaměstnanců. Propojte je s konkrétními uživateli, skupinami a aplikacemi, a to vše vzdáleně a pouhým stisknutím jediného tlačítka.
          </p>
        </td>
      </tr>
      <tr class="text-center">
        <td align="center" class="w-4/12 align-top">
          <img
            src="images/usluno/divider_gray_dark.png"
            class="rotate-180"
            width="">
        </td>
      </tr>
      <tr class="text-center">
        <td align="center" class="pt-32 pb-32 px-32 bg-white w-4/12 align-top">
          <img
            src="images/usluno/voice_client.png"
            class=""
            width="40">
          <h4 class="m-0 text-lg font-bold uppercase text-blue-900 pt-20">
            Push to talk
          </h4>
          <p class="text-cool-gray-900 text-sm font-light leading-24">
            Zvyšte efektivitu práce prostřednictvím integrování bezpečných hlasových zpráv typu push-to-talk a jejich předávání pomocí jakéhokoli mobilního zařízení.
          </p>
        </td>
      </tr>
      <tr class="text-center">
        <td align="center" class="w-4/12 align-top">
          <img
            src="images/usluno/divider_gray_light.png"
            class=""
            width="">
        </td>
      </tr>
      <tr class="text-center">
        <td align="center" class="pt-32 px-32 bg-gray-600 w-4/12 align-top">
          <img
            src="images/usluno/push_to_talk.png"
            class=""
            width="40">
          <h4 class="m-0 text-lg font-bold uppercase text-blue-900 pt-20">
            Voice client
          </h4>
          <p class="text-cool-gray-900 text-sm font-light leading-24">
            Proměňte svá mobilní zařízení Zebra na vysoce výkonné stolní telefony s celou řadou různých funkcí. Již nemusíte být neustále u svého pracovního stolu; vaše hovory mohou být přesměrovány z PBX a můžete snadněji komunikovat se svými spolupracovníky, nadřízenými a zákazníky.
          </p>
        </td>
      </tr>
      <tr class="text-center">
        <td align="center" class="w-4/12 align-top">
          <img
            src="images/usluno/divider_gray_light.png"
            class="rotate-180"
            width="">
        </td>
      </tr>
    </table>
    <table align="center" class="w-full bg-black px-32 sm:w-full">
      <tr class="text-center">
        <td>
          <table align="center" class="w-600 pt-48 sm:w-full">
            <tr>
              <td align="center" class="w-full px-24 sm:px-0 text-center">
                <h3 class="m-0 text-center text-white text-2xl font-extrabold leading-normal sm:leading-full">
                  Benefity
                </h3>
              </td>
            </tr>
          </table>
          <table align="center" class="w-600 bg-black rounded px-32 pt-16 sm:w-full">
            <tr class="text-center">
              <td align="center" class="py-32 w-4/12 sm:w-full sm:block align-top">
                <img
                  src="images/usluno/help_answer.png"
                  class=""
                  width="150">
                <p class="text-white text-sm font-light leading-24">
                  Pomoc s odpověďmi na otázky zákazníků
                </p>
              </td>
              <td align="center" class="py-32 w-4/12 sm:w-full sm:block align-top">
                <img
                  src="images/usluno/time_save.png"
                  class=""
                  width="150">
                <p class="text-white text-sm font-light leading-24">
                  Úspora času zákazníků
                </p>
              </td>
              <td align="center" class="py-32 w-4/12 sm:w-full sm:block align-top">
                <img
                  src="images/usluno/order_succes.png"
                  class=""
                  width="150">
                <p class="text-white text-sm font-light leading-24">
                  Zvýšení spokojenosti zákazníků během nákupu
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table align="center" class="w-full sm:w-full">
      <tr>
        <td align="center" class="w-full pb-48 px-48 sm:px-24 bg-black text-center">
          <a
            href="https://www.u-sluno.eu/workforce-connect-od-zebra-technologies/"
            class="bg-blue-400 hover:bg-white hover:text-blue-400 mt-32 inline-block py-16 px-24 text-sm leading-none no-underline text-white font-semibold"
            target="_blank">
            <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
            <span style="mso-text-raise: 13pt;">
                Více o Zebra Technologies
            </span>
            <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
          </a>
        </td>
      </tr>
    </table>
    <table align="center" class="w-full bg-blue-400 p-32 mb-2 sm:w-full">
      <tr>
        <td align="center" class="">
          <img src="images/usluno/logo-negative.png" class="p-8 block" width="100" alt="">
          <a
            href="https://u-sluno.eu"
            class="text-lg text-white font-bold no-underline block"
            target="_blank">
            <h4>
              www.u-sluno.eu
            </h4>
          </a>
          <p class="text-sm text-white leading-20 font-bold no-underline block">
            <a href="mailto:robotics@u-sluno.cz
                  ?subject=Mám zájem o ukázku autonomního robota HMIShelf
                  &body=
                  &cc=marketing@u-sluno.cz
                  "
               class="text-white no-underline">
              robotics@u-sluno.cz
            </a>
            | +420 596 134 157</p>
          <table class="flex justify-center">
            <tr>
              <td>
                <a href="https://www.facebook.com/slunocz/" target="_blank">
                  <img src="images/usluno/facebook-negative.png" class="p-8" width="15" alt="">
                </a>
              </td>
              <td>
                <a href="https://www.youtube.com/channel/UC1ztuszn-Si95RalNja1Njw" target="_blank">
                  <img src="images/usluno/youtube-negative.png" class="p-8" width="15" alt="">
                </a>
              </td>
              <td>
                <a href="https://www.linkedin.com/company/354076/" target="_blank">
                  <img src="images/usluno/linkedin-negative.png" class="p-8" width="15" alt="">
                </a>
              </td>
            </tr>
          </table>
          <p class="text-xxs text-white">
            Nechcete dostávat naše newslettery?
            <span class="block">Můžete se kdykoli
              <a
                href="https://u-sluno.us17.list-manage.com/unsubscribe?u=6cd7e998e44d61d5b734bf3e2&id=ef1d76ea37&e=&c=2bec3fc9ba"
                class="font-bold text-white no-underline hover:text-orange-900"
                target="_blank">
                odhlásit.
              </a>
            </span>
          </p>
        </td>
      </tr>
    </table>
  </block>
</extends>
