---
title: "The Website Weekly Newsletter"
preheader: "Hlasem řízený sklad"
image: http://www.s5.cz/emaily/assets/images/usluno/bg-header.jpg
bodyClass: bg-cool-gray-100
googleFonts: "Exo:400,500,600,700;subset=latin-ext"
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-cool-gray-100 sm:px-16">
          <table class="w-600 sm:w-full">
            <tr class="bg-orange-900">
              <td class="p-16 sm:py-32 sm:px-24 text-center">
                <a href="http://s5.cz/emaily/USluno/Mailchimp/05_20/index-news05.html" class="text-white text-sm font-medium no-underline hover:underline hover:font-bold">
                  Zobrazit newsletter v prohlížeči
                </a>
              </td>
            </tr>
            <tr>
              <td class="bg-top bg-no-repeat bg-cover rounded text-left" style="background-image: url('{{ page.image }}');">
                  <table class="w-full py-32 text-center bg-opac">
                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>
                        <img 
                          src="images/usluno/logo-negative.png" 
                          class="pb-20" 
                          width="200" 
                          alt="">
                        <a href="https://www.u-sluno.eu/rizeny-sklad/hlasem-rizeny-sklad/" class="no-underline">
                          <h1 class="m-0 mb-0 text-5xl text-orange-900 font-bold sm:leading-40">
                            Hlasem řízený sklad
                          </h1>
                        </a>  
                        <h2 class="m-0 mb-16 text-4xl text-white font-normal sm:leading-40">zvedne produktivitu až o 20 %</h2>
                        <p class="pt-16 text-white text-base leading-24 text-opac">
                          Náklady na logistiku a řízení skladů jsou zejména pro velké retailery stěžejním bodem, kde mohou získat výhodu oproti konkurenci. Jedna z nejefektivnějších cest, jak toho dosáhnout, je díky zapojení technologie hlasového vychystávání — robustního nástroje pro maloobchodní, velkoobchodní, logistické a distribuční společnosti, který výrazně zvyšuje produktivitu i celkovou kvalitu práce.
                        </p>
                        <div class="pt-32 sm:h-32">&zwnj;</div>
                        <img 
                          src="images/usluno/icon-scroll-alt.png" 
                          width="40" 
                          alt="">
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
              </td>
            </tr>
            <tr>
              <td class="h-32"></td>
            </tr>
            <tr>
              <td class="w-full px-24 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full pb-32 sm:w-full sm:inline-block">
                        <a href="https://www.u-sluno.eu/rizeny-sklad/hlasem-rizeny-sklad/" class="no-underline">
                          <h1 class="m-0 mb-0 text-4xl leading-48 text-center text-blue-900 font-bold sm:leading-40">
                            Sklad musí být řízen systémem, nikoliv skladníky
                          </h1>
                        </a>
                        <h3 class="mt-32 mb-16 text-md text-orange-900 font-bold sm:leading-40">
                          Činnost vašeho skladu není nijak výrazně řízena, a přesto sklad pracuje relativně efektivně?
                        </h3>
                        <p class="pt-16 text-cool-gray-900 text-sm leading-24">
                          V těchto případech je činnost skladu založena na zkušených zaměstnancích, kteří znají sklad nazpaměť a jsou schopni skladové operace vykonávat téměř naslepo. Co když ale takový pracovník z firmy odejde nebo dlouhodobě onemocní? Musí vaši skladníci neustále manipulovat s terminálem a nemají obě ruce volné pro práci se zbožím? Mít obě ruce volné má zásadní vliv na chybovost a především rychlost vychystávání.
                        </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-full pb-40 sm:w-full sm:inline-block">
                      <h3 class="text-base text-blue-900 font-bold sm:leading-40">
                        Co je Hlasem řízený sklad?
                      </h3>
                      <p class="text-cool-gray-900 text-sm leading-24">
                        Řízení skladových procesů pomocí mobilních terminálů s headsety, kdy komunikace se systémem je založena na hlasových povelech. Skladník dostává instrukce do sluchátek a zpět komunikuje pomocí předem definovaných slov a čísel.
                      </p>
                      <h3 class="text-base text-blue-900 font-bold sm:leading-40">
                        Proč je dobré mít Hlasem řízený sklad? 
                      </h3>
                      <p class="text-cool-gray-900 text-sm leading-24">
                        Uživatel může pracovat rychleji, protože má obě ruce volné a nemusí manipulovat s terminálem. Také může mít nastavený jazyk, který preferuje, což je výhodné zejména u zahraničních pracovníků.
                      </p>
                      <h3 class="text-base text-blue-900 font-bold sm:leading-40">
                        Pro koho je Hlasem řízený sklad určený?  
                      </h3>
                      <p class="text-cool-gray-900 text-sm leading-24">
                        Pro všechny, kteří chtějí optimalizovat procesy na skladě, zvýšit efektivitu a produktivitu práce. 
                      </p>
                      <h3 class="text-base text-blue-900 font-bold sm:leading-40">
                        Jak náročná je implementace?  
                      </h3>
                      <p class="text-cool-gray-900 text-sm leading-24">
                        Vše závisí na připravenosti nadřazeného systému. Projekty trvají od několika týdnů až po několik málo měsíců.  
                      </p>
                      <h3 class="text-base text-blue-900 font-bold sm:leading-40">
                        Jak rychlá je návratnost investice? 
                      </h3>
                      <p class="text-cool-gray-900 text-sm leading-24">
                        U některých našich projektů byla návratnost investice v řádech měsíců. 
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="w-full px-24 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-ful pr-16 sm:px-0 sm:pb-32 sm:w-full sm:inline-block">
                      <table class="w-full">
                        <tr>
                          <td class="p-40 bg-orange-900 text-white text-center rounded-lg">
                            <h2 class="m-0 mb-24 text-2xl leading-24">Benefity</h2>
                            <table>
                              <tr>
                                <td class="w-4/12 p-8">
                                  <img 
                                    src="images/usluno/icon-checklist-alt.png" 
                                    class="pb-20" 
                                    width="50" 
                                    alt="">
                                  <h3 class="font-bold text-base">
                                    Zvýšení produktivity
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8">
                                  <img 
                                    src="images/usluno/icon-no-connection-alt.png" 
                                    class="pb-20" 
                                    width="50" 
                                    alt="">
                                  <h3 class="font-bold text-base">
                                    Snížení chybovosti při přípravě objednávek
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8">
                                  <img 
                                    src="images/usluno/icon-education-alt.png" 
                                    class="pb-20" 
                                    width="50" 
                                    alt="">
                                  <h3 class="font-bold text-base">
                                    Rychlé zaškolení nových uživatelů
                                  </h3>
                                </td>
                              </tr>
                              <tr>
                                <td class="w-4/12 p-8">
                                  <img 
                                    src="images/usluno/icon-support-alt.png" 
                                    class="pb-20" 
                                    width="50" 
                                    alt="">
                                  <h3 class="font-bold text-base">
                                    100% úspěšnost rozpoznání hlasu
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8">
                                  <img 
                                    src="images/usluno/icon-testing-alt.png" 
                                    class="pb-20" 
                                    width="50" 
                                    alt="">
                                  <h3 class="font-bold text-base">
                                    Rychlá implementace
                                  </h3>
                                </td>
                                <td class="w-4/12 p-8">
                                  <img 
                                    src="images/usluno/icon-genetics-alt.png" 
                                    class="pb-20" 
                                    width="50" 
                                    alt="">
                                  <h3 class="font-bold text-base">
                                    Jednoduchá modifikace podle potřeb zákazníka
                                  </h3>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="h-64 sm:h-32"></td>
            </tr>
            <tr>
              <td class="px-48 sm:px-24 text-left">
                <table class="w-full text-center">
                  <tr>
                    <td>
                      <h1 class="m-0 pb-32 text-4xl leading-48 text-blue-900 font-bold sm:leading-40">Expresní implementace
                      </h1>
                      <p class="pt-16 text-cool-gray-900 text-left text-sm leading-24">
                        Síť maloobchodních prodejen hledala kvalitní WMS řešení na míru, které by pokrylo všechny nezbytné požadavky a pomohlo optimalizovat celkové řízení hlavního distribučního centra. Našli ho v řešení Hlasem řízený sklad.
                        <br><br>
                        Distribuční centrum dlouho fungovalo na vlastním softwaru, ovšem bez jakéhokoliv procesního nastavení, které by umožnilo efektivní řízení tak velkého skladu. Sklad vedle zásobování všech poboček zpracovával také online objednávky.
                        <br><br>
                        Začátkem roku 2019 odstartovala přípravná fáze...</p>
                        <a 
                        href="http://s5.cz/emaily/USluno/Mailchimp/05_20/index-news05.html"
                        class="mt-32 inline-block text-center sm:mx-0 py-16 px-24 text-sm leading-none no-underline text-white font-semibold rounded-full bg-blue-900 hover:bg-orange-900">
                        <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                          <span style="mso-text-raise: 13pt;">Zobrazit celý článek</span>
                        <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                      </a>  
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="h-64 sm:h-32"></td>
            </tr>
            <tr>
              <td style="background-image: url('images/usluno/pre-footer-bg.png');" class="w-full pb-0 px-48 sm:px-24 py-16 bg-cool-gray-100 rounded text-center bg-center bg-no-repeat bg-cover">
                <h3 class="mt-32 mb-16 text-2xl text-orange-900 font-bold sm:leading-40">
                  Pokyny od Pamely přímo do ucha
                </h3>  
                <h1 class="m-0 mb-0 text-4xl leading-48 text-center text-blue-900 font-bold sm:leading-40">
                  Tak se pracuje ve skladu <br>Albertu
                </h1>
                <a 
                  href="https://www.idnes.cz/ekonomika/domaci/albert-distribucni-centrum-pamela-automatizovany-hlasovy-system.A190712_152438_ekonomika_are"
                  class="mt-32 inline-block py-16 px-24 text-sm leading-none no-underline text-white font-semibold rounded-full bg-orange-900 hover:bg-blue-900">
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%; mso-text-raise: 26pt;">&nbsp;</i><![endif]-->
                    <span style="mso-text-raise: 13pt;"><img src="images/usluno/icon-click-alt.png" class="pr-8" width="25" alt=""> Zobrazit celý článek</span>
                  <!--[if mso]><i style="letter-spacing: 27px; mso-font-width: -100%;">&nbsp;</i><![endif]-->
                </a>
                <table align="center" class="bg-blue-900 text-white w-full p-20 mt-64 rounded-t-lg">
                  <tr class="text-center">
                    <td>
                      <img src="images/usluno/logo-negative.png" class="p-8" width="100" alt="">
                      <a href="https://u-sluno.eu" class="text-lg text-white font-bold no-underline hover:text-orange-900 block">www.u-sluno.eu</a>
                      <table class="flex justify-center">
                        <tr>
                          <td>
                            <a href="https://www.facebook.com/slunocz/">
                              <img src="images/usluno/facebook.png" class="p-8" width="15" alt="">
                            </a>  
                          </td>
                          <td>
                            <a href="https://www.youtube.com/channel/UC1ztuszn-Si95RalNja1Njw">
                              <img src="images/usluno/youtube.png" class="p-8" width="15" alt="">
                            </a>   
                          </td>
                          <td>
                            <a href="https://www.linkedin.com/company/354076/">
                              <img src="images/usluno/linkedin.png" class="p-8" width="15" alt="">
                            </a> 
                          </td>
                        </tr>
                      </table>
                      <p class="text-xxs">
                        Nechcete dostávat naše newslettery?
                        <span class="block">Můžete se kdykoli 
                          <a href="https://u-sluno.us17.list-manage.com/unsubscribe?u=6cd7e998e44d61d5b734bf3e2&id=34499fdab6&e=d94144be41&c=ee107271a1" class="font-bold text-white no-underline hover:text-orange-900">
                            odhlásit
                          </a>.
                        </span>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
