.bg-opac {
  background: rgba(0, 0, 0, .5) !important;
}
.bg-gradient-dark {
  background: linear-gradient(54deg, #4f8aff, #4f8aff) !important;
}
.bg-gradient-light {
  background: linear-gradient(180deg, #4f8aff, #fff) !important;
}
.text-opac {
  color: rgba(255, 255, 255, .6) !important;
}
.video-shadow {
  @apply rounded border-none text-center text-white;
  box-shadow: 0 2px 24px 0 rgba(79, 138, 255, .62) !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(229,29,41,.2);
}

.border-left-10 {
  border-left: 10px solid #007bff;
  padding-left: 1rem;
}

.border-right-10 {
  border-right: 10px solid #007bff;
  padding-right: 1rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: rgba(10,0,83,.8);
  background: transparent;
  border: 7px solid #007bff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(200deg,rgba(0,0,0,.5),rgba(10,0,83,.8));
  height: 700px;
  z-index: 10;
}

.video-content h1 {
  text-align: left;
  padding-left: 2rem;
  border-left: 10px solid #007bff;
  max-width: 600px;
}

.video-content p {
  text-align: center;
  max-width: 600px;
}

.video-wrapper video {
  visibility: visible;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  html {
    overflow-x: hidden !important;
  }

  .border-left-10 {
    border-left: none;
    padding-left: 0;
  }

  .border-right-10 {
    border-left: none;
    padding-left: 0;
  }

  .video-wrapper {
    left: 0;
    right: 0;
    width: 600px !important;
    height: 700px;
    overflow-x: hidden !important;
  }

  .video-wrapper video {
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
  }

  .video-content {
    padding: 0 3rem;
  }
}
