.bg-opac {
  background: rgba(0, 0, 0, .5) !important;
}
.bg-gradient-dark {
  background: linear-gradient(54deg, #4f8aff, #4f8aff) !important;
}
.bg-gradient-light {
  background: linear-gradient(180deg, #4f8aff, #fff) !important;
}
.text-opac {
  color: rgba(255, 255, 255, .6) !important;
}
.video-shadow {
  @apply rounded border-none text-center text-white;
  box-shadow: 0 2px 24px 0 rgba(79, 138, 255, .62) !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(229,29,41,.2);
}
