<tr>
  <td align="center">
    <table>
      <tr>
        <td class="p-8">
          <a href="{{ page.newsletter_07_22.links.facebook }}" target="_blank">
            <img src="{{ page.global.images.social.fb }}" width="15" alt="">
          </a>
        </td>

        <td class="p-8">
          <a href="{{ page.newsletter_07_22.links.youtube }}" target="_blank">
            <img src="{{ page.global.images.social.yt }}" width="15" alt="">
          </a>
        </td>

        <td class="p-8">
          <a href="{{ page.newsletter_07_22.links.linkedin }}" target="_blank">
            <img src="{{ page.global.images.social.in }}" width="15" alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
