<tr>
  <td align="center">
    <table>
      <tr>
        <td class="p-8">
          <a href="{{ page.newsletter_07_22.links.facebook }}" target="_blank">
            <img src="{{ page.global.images.social.fb }}" width="15" alt="">
          </a>
        </td>

        <td class="p-8">
          <a href="{{ page.newsletter_07_22.links.youtube }}" target="_blank">
            <img src="{{ page.global.images.social.yt }}" width="15" alt="">
          </a>
        </td>

        <td class="p-8">
          <a href="{{ page.newsletter_07_22.links.linkedin }}" target="_blank">
            <img src="{{ page.global.images.social.in }}" width="15" alt="">
          </a>
        </td>
      </tr>
    </table>

    <if condition="page.env === 'mailchimp'"></if>

    <else>
      <p class="text-xxs text-white text-center">
        {{ page.global.lang.footer.newsletter }}

        <span class="block">
        {{ page.global.lang.footer.newsletter_1 }}
          <a
            href="{{ page.global.usluno.links.unsub }}"
            class="font-bold text-white no-underline hover:{{ page.secondaryColor }}"
            target="_blank">
            {{ page.global.lang.footer.newsletter_logout }}.
          </a>
      </span>
      </p>
    </else>
  </td>
</tr>
