<tr class="text-center">
  <td>
    <img src="images/usluno/logo-negative.png" class="p-8" width="100" alt="">
    <a href="https://u-sluno.eu" class="text-lg text-white font-bold no-underline hover:text-orange-900 block">www.u-sluno.eu</a>
    <table class="flex justify-center">
      <tr>
        <td>
          <a href="{{ page.social_fb }}">
            <img src="{{ page.social_fb_img }}" class="p-8" width="15" alt="">
          </a>
        </td>
        <td>
          <a href="{{ page.social_yt }}">
            <img src="{{ page.social_yt_img }}" class="p-8" width="15" alt="">
          </a>
        </td>
        <td>
          <a href="{{ page.social_in }}">
            <img src="{{ page.social_in_img }}" class="p-8" width="15" alt="">
          </a>
        </td>
      </tr>
    </table>
    <p class="text-xxs">
      Nechcete dostávat naše newslettery?
      <span class="block">Můžete se kdykoli
        <a href="{{ page.unsub }}"
           class="font-bold text-white no-underline hover:text-orange-900">
          odhlásit
        </a>.
      </span>
    </p>
  </td>
</tr>
