<tr>
  <td align="center" class="py-32">
    <img src="{{ page.global.images.brand.logo_dekujeme30 }}" class="p-8 pt-64 block text-center" width="150" alt="">

    <a href="{{ page.global.usluno.links.PrimaryLink }}"
       class="text-lg {{ page.primaryColor }} font-bold no-underline block text-center"
       target="_blank">
      <h4 class="text-center">
        {{ page.global.usluno.brand.website }}
      </h4>
    </a>

    <p class="text-sm {{ page.primaryColor }} text-center font-bold no-underline block">
      <a href="mailto:{{ page.global.usluno.links.email_mailto }}
              ?subject={{ page.global.usluno.links.email_subject }}
              &cc={{ page.global.usluno.links.email_cc }}
              &body={{ page.global.usluno.links.email_body }}"
         class="{{ page.primaryColor }} no-underline">
        {{ page.global.usluno.brand.email }}
      </a>
      | {{ page.global.usluno.brand.phone }}
    </p>

    <table>
      <tr>
        <td class="p-8">
          <a href="{{ page.global.usluno.links.social.fb }}" target="_blank">
            <img src="images/usluno/facebook-orange.png" width="15" alt="">
          </a>
        </td>
        <td class="p-8">
          <a href="{{ page.global.usluno.links.social.yt }}" target="_blank">
            <img src="images/usluno/youtube-orange.png" width="15" alt="">
          </a>
        </td>
        <td class="p-8">
          <a href="{{ page.global.usluno.links.social.in }}" target="_blank">
            <img src="images/usluno/linkedin-orange.png" width="15" alt="">
          </a>
        </td>
        <td class="p-8">
          <a href="{{ page.global.usluno.links.social.spotify }}" target="_blank">
            <img src="images/usluno/spotify-orange.png" width="15" alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
