<tr>
  <td align="center">
    <img src="{{ page.newsletter_03_21.logo }}" class="p-8 block" width="150" alt="">
    <a href="{{ page.global.usluno.links.PrimaryLink }}"
       class="text-lg text-white font-bold no-underline block"
       target="_blank">
      <h4>
        {{ page.global.usluno.brand.website }}
      </h4>
    </a>
    <p class="text-sm text-white font-bold no-underline block">
      <a href="mailto:{{ page.global.usluno.links.email_mailto }}
              ?subject={{ page.global.usluno.links.email_subject }}
              &cc={{ page.global.usluno.links.email_cc }}
              &body={{ page.global.usluno.links.email_body }}"
         class="text-white no-underline">
        {{ page.global.usluno.brand.email }}
      </a>
      | {{ page.global.usluno.brand.phone }}</p>
    <table>
      <tr>
        <td class="p-8">
          <a href="{{ page.global.usluno.links.social.fb }}" target="_blank">
            <img src="{{ page.global.images.social.fb }}" width="15" alt="">
          </a>
        </td>
        <td class="p-8">
          <a href="{{ page.global.usluno.links.social.yt }}" target="_blank">
            <img src="{{ page.global.images.social.yt }}" width="15" alt="">
          </a>
        </td>
        <td class="p-8">
          <a href="{{ page.global.usluno.links.social.in }}" target="_blank">
            <img src="{{ page.global.images.social.in }}" width="15" alt="">
          </a>
        </td>
      </tr>
    </table>
    <p class="text-xxs text-white">
      {{ page.global.lang.footer.newsletter }}
      <span class="block">
        {{ page.global.lang.footer.newsletter_1 }}
          <a
            href="{{ page.global.usluno.links.unsub }}"
            class="font-bold text-white no-underline hover:{{ page.secondaryColor }}"
            target="_blank">
            {{ page.global.lang.footer.newsletter_logout }}.
          </a>
      </span>
    </p>
  </td>
</tr>
