<tr class="text-center">
  <td align="center" class="pt-20 px-6 w-6/12 sm:w-full sm:block align-top">
    <img
      src="{{ page.gallery_img_1 }}"
      class=""
      width="300">
  </td>
  <td align="center" class="pt-20 px-6 w-6/12 sm:w-full sm:block align-top">
    <img
      src="{{ page.gallery_img_2 }}"
      class=""
      width="300">
  </td>
</tr>
<tr class="text-center">
  <td align="center" class="pt-20 px-6 w-6/12 sm:w-full sm:block align-top">
    <img
      src="{{ page.gallery_img_3 }}"
      class=""
      width="300">
  </td>
  <td align="center" class="pt-20 px-6 w-6/12 sm:w-full sm:block align-top">
    <img
      src="{{ page.gallery_img_4 }}"
      class=""
      width="300">
  </td>
</tr>
