<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon1_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon1_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon1_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon2_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon2_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon2_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon3_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon3_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon3_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon4_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon4_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon4_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon5_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon5_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon5_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon6_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon6_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon6_img }}"
                 class="right py-20"
                 style="transform: rotate(90deg)"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon7_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon7_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon7_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon8_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon8_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon8_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon9_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon9_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon9_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon10_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon10_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon10_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon11_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon11_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon11_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.global.images.ampersand.orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            {{ page.newsletter_12_en.icon12_h }}
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.newsletter_12_en.icon12_link }}"
             target="_blank">
            <img src="{{ page.newsletter_12_en.icon12_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
