<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            Patricia Jakešová hosted New Retail Operations at the Retail Summit in Prague.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon1_link }}"
             target="_blank">
            <img src="{{ page.icon1_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            At the Prague office, we adopted a new four-legged colleague.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon2_link }}"
             target="_blank">
            <img src="{{ page.icon2_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            We had sewn 400 masks in&nbsp;company colors.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon3_link }}"
             target="_blank">
            <img src="{{ page.icon3_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            In emergency mode, we worked from home and&nbsp;it&nbsp;worked.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon4_link }}"
             target="_blank">
            <img src="{{ page.icon4_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            We launched a new website&nbsp;uslunorobotics.eu where we show what autonomous robots can help with.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon5_link }}"
             target="_blank">
            <img src="{{ page.icon5_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            In June, we broke last year's record and&nbsp;together we rode a&nbsp;bike, ran and walked 3&nbsp;365&nbsp;km.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon6_link }}"
             target="_blank">
            <img src="{{ page.icon6_img }}"
                 class="right py-20"
                 style="transform: rotate(90deg)"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            At the All Staff Meeting, we took social distance seriously.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon7_link }}"
             target="_blank">
            <img src="{{ page.icon7_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            We recorded 36 Czech and&nbsp;Russian podcasts about the retail world.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon8_link }}"
             target="_blank">
            <img src="{{ page.icon8_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            Our robot Emil was placed in the TOP 3 as the Technical and Technological Innovation of the Year LOG-IN Award.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon9_link }}"
             target="_blank">
            <img src="{{ page.icon9_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #F5821F; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            The employees supported the Bílá pastelka collection for the visually impaired people with 4&nbsp;665&nbsp;CZK.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon10_link }}"
             target="_blank">
            <img src="{{ page.icon10_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.primaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.secondaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_blue }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            U&SLUNO attended conferences in Ukraine.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon11_link }}"
             target="_blank">
            <img src="{{ page.icon11_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------->

<tr>
  <td class="p-10 h-64"
      style="border-left: 5px solid #004794; transform: translateX(50%);">
  </td>
</tr>

<tr>
  <td class="p-2 h-20"></td>
</tr>

<tr class="text-center">
  <td align="center" class="mt-32 p-16 {{ page.secondaryBg }} rounded-medium w-4/12 align-top">
    <table class="{{ page.primaryBg }} rounded-full" style="margin-top: -40px;">
      <tr>
        <td class="py-24 px-16">
          <span class="text-white text-center">
            <img src="{{ page.ampersand_orange }}"
                 class="right px-8"
                 width="32"
                 alt="">
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td class="w-6/12 py-16 px-20">
          <h4 class="m-0 text-base text-white">
            And we participated in the Food Collection of 168&nbsp;kg of durable foods and drugstores.
          </h4>
        </td>
        <td class="w-6/12 py-16 px-20">
          <a href="{{ page.icon12_link }}"
             target="_blank">
            <img src="{{ page.icon12_img }}"
                 class="right py-20"
                 width="400"
                 alt="">
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
