<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td class="leading-32">&zwnj;</td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td align="center">
      <img src="{{ page.global.images.brand.logo_negative }}" class="p-8 block text-center" width="100" alt="">
    </td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td class="leading-8">&zwnj;</td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td align="center">
      <a href="{{ page.global.usluno.links.PrimaryLink }}"
         class="text-lg leading-18 text-white font-bold no-underline text-center"
         target="_blank">
        <h4 class="text-center leading-18 text-white">
          {{ page.global.usluno.brand.website }}
        </h4>
      </a>
    </td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td class="leading-8">&zwnj;</td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td align="center">
      <p class="text-sm leading-18 text-white text-center font-bold no-underline block">
        <a href="mailto:{{ page.global.usluno.brand.email }}
              ?subject={{ page.mailtoSubject }}
              &cc={{ page.mailtoCC }}
              &body={{ page.mailtoBody }}"
           class="text-white no-underline leading-18">
          {{ page.global.usluno.brand.email }}
        </a>
        | {{ page.global.usluno.brand.phone }}
      </p>
    </td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td align="center" class="p-8">
      <a href="{{ page.global.usluno.links.social.fb }}" target="_blank">
        <img src="images/usluno/facebook-negative.png" width="15" class="pr-8" alt="">
      </a>

      <a href="{{ page.global.usluno.links.social.yt }}" target="_blank">
        <img src="images/usluno/youtube-negative.png" width="15" class="pr-8" alt="">
      </a>

      <a href="{{ page.global.usluno.links.social.in }}" target="_blank">
        <img src="images/usluno/linkedin-negative.png" width="15" class="pr-8" alt="">
      </a>

      <a href="{{ page.global.usluno.links.social.spotify }}" target="_blank">
        <img src="{{ page.global.images.social.spotify }}" width="15" alt="">
      </a>
    </td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td class="leading-16">&zwnj;</td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td align="center">
      <p class="text-xxs text-white text-center">
        {{ page.global.lang.footer.newsletter }}
        <span class="block">
          {{ page.global.lang.footer.newsletter_1 }}
          <a
            href="{{ page.global.usluno.links.unsub }}"
            class="font-bold text-white no-underline hover:{{ page.secondaryColor }}"
            target="_blank">
            {{ page.global.lang.footer.newsletter_logout }}.
          </a>
        </span>
      </p>
    </td>
  </tr>
</table>

<table class="{{ page.tableReset }} {{ page.primaryBg }}">
  <tr>
    <td class="leading-32">&zwnj;</td>
  </tr>
</table>

